h1 {
  text-align: center;
  color: red;
  font-style: oblique;
  font-weight: bolder;
  border: 1px solid green;
}

.banner img {
  border: 1px solid black;

}


.main_profiles img {
  width: 40%;
  box-sizing: border-box;
  float: left;
  height: 150px;
  margin-right: 5px;

}

.profile {
  width: 49%;
  height: 300px;
  display: inline-block;
  float: left;
}
.profile {
  border: 2px green solid;
  padding: 2px;
}
